*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

#navBar {
  width: 20vw;
  height: 100%;
  background-color: #fef7e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#navBar ul {
  list-style: none;
}

.nav-btn {
  border: none;
  background-color: #ffdf7f;
  width: 15vw;
  height: 12vh;
  margin-top: 1.5rem;
  border-radius: 4rem;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  color: #762406;
  justify-content: center;
  align-items: center;
}

.nav-btn > img {
  width: 3rem;
  margin-right: 2rem;
}

.nav-btn > span {
  font-size: 2.5rem;
}

main {
  padding-inline: 1.5rem;
}

#cardsCont {
  display: flex;
  justify-content: space-evenly;
  height: 50vh;
}

.cards {
  max-width: 25%;

  height: 80%;
  background-color: #fef7e2;
  border-radius: 5rem;
}

.card-btn {
  border: none;
  background-color: #ffdf7f;
  width: 10vw;
  height: 10vh;
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: #762406;
}

.cards img {
  width: 100%;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
}

.cards h2 {
  font-size: 1.3rem;
  font-weight: 700;
}

.description {
  display: flex;
  padding-left: 1rem;
  column-gap: 65px;
  border-radius: 5rem;
  background-color: #fef7e2;
  width: 100%;
}

#news {
  padding: 1rem;
  width: 100%;
}

#description > img {
  width: 50%;
}

#description {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #fef7e2;
  width: 100%;
}

#description > div {
  width: 50%;
  padding: 1rem;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    display: block;
  }
  header {
    display: flex;

    align-items: center;
    background-color: #fef7e2;
    width: 100%;
    padding: 4rem;
  }

  #navBar {
    width: 100%;
    height: 20vh;
    display: flex;

    align-items: center;
  }

  #navBar ul {
    list-style: none;
    display: flex;
    order: 3;
  }

  .nav-btn {
    border: none;
    background-color: #ffdf7f;
    width: 20vw;
    height: 12vh;
    margin-top: 1.5rem;
    border-radius: 4rem;
    font-size: 1rem;
    font-weight: 700;

    color: #762406;
    justify-content: center;
    align-items: center;
  }

  .nav-btn > img {
    width: 3rem;
    margin-right: 2rem;
  }

  .nav-btn > span {
    font-size: 2.5rem;
  }

  main {
    padding-inline: 1.5rem;
  }

  #cardsCont {
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
  }

  .cards {
    max-width: 25%;
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    background-color: #fef7e2;
    border-radius: 5rem;
  }

  .cards > button {
    border: none;
    background-color: #ffdf7f;
    width: 10vw;
    height: 10vh;
    border-radius: 5rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: #762406;
  }

  .cards img {
    width: 100vw;
    height: 20vh;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
  }

  .cards h2 {
    font-size: 1.3rem;
    font-weight: 700;
  }

  .description {
    display: flex;
    padding-left: 1rem;
    column-gap: 65px;
    border-radius: 5rem;
    background-color: #fef7e2;
    width: 100%;
  }

  #news {
    padding: 1rem;
    width: 100%;
  }

  #description > img {
    width: 100%;
  }

  #description {
    display: block;
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #fef7e2;
    width: 100%;
  }

  #description > div {
    text-align: center;
    width: 100%;
    padding: 1rem;
  }
}
